{{>layouts/header}}
<div class="bg-dark text-white p-5">
    {{ quoteResult }} <br>
    <form action="/quote" method="get">
        <button type="submit" class="btn btn-danger">다른 명언</button>
    </form>
</div>
{{>layouts/footer}}
